[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tornado = "*"
pickledb = "*"
tinydb = "*"
asgiref = "*"
certifi ="*"
click = "*"
cycler = "*"
django = "*"
flask = "*"
itsdangerous = "*"
kiwisolver = "*"
matplotlib = "*"
numpy = "*"
pymongo = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
six = "*"
sqlparse = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pillow ="*"
Werkzeug = "*"
pygal = "*"
csvkit = "*"

[requires]
python_version = "3.8"
